.container{

	ul{
		margin-bottom:20px;
		li{
			positon:relative;
			width:100%;
			padding:0 0;
			border-bottom:1px dashed #707070;
			display:table;

			.imagen{
				width:140px;
				display:table-cell;
				vertical-align:middle;
			}

			.titulo{
				vertical-align:middle;
				display:table-cell;
				font-size:16px;
				color:#000000;
				text-transform:uppercase;
			}

			&:last-child{
				border-bottom:0;
			}
		}
	}
}


@media (min-width: 769px){
	.container{

		ul{
			font-size:0;
			
			li{
			
				width:25%;
				padding:0 0 20px;
				border-bottom:1px dashed #707070;
				display:inline-block;
				margin-bottom:30px;

				.imagen{
					width:100%;
					display:block;
					vertical-align:middle;
					margin-bottom:10pxpx;
					padding-left:20px;
					padding-right:20px;

					img{
						max-width:308px;
						margin:0 auto;
					}
				}

				.titulo{
					width:100%;
					
					display:block;
					text-align:center;
				}

				&:last-child{
					border-bottom:1px dashed #707070;
				}
			}
		}
	}
}