
<div class="container">
	

	<ul>

		<li *ngFor="let lista_inicio of itemListas">
			<a [routerLink]="[lista_inicio.url]" class="full"></a>
			<div class="imagen">
				<img [src]="lista_inicio.imagen">
			</div>

			<div class="titulo">
				{{lista_inicio.titulo}}
			</div>
		</li>
	</ul>
</div>
