



	<div class="caja_carrousel">


		<div id="interna_carrousel" class="carousel slide interna_carrousel" data-ride="carousel">

			<div class="carousel-inner" role="listbox">   

				<div class="carousel-item active">
					<article style="background-image: url(/vive-beneficios-las-bambas/assets/images/detalle_banner.png)">	
						<div class="caja">	
							<div class="titular">
								La mejor <br>Cobertura
							</div>
							
							<div class="parrafo">
								Vive en paz contigo y tu familia
							</div>
						</div>
														
					</article>
				</div>
				<div class="carousel-item">
					<article style="background-image: url(/vive-beneficios-las-bambas/assets/images/detalle_banner.png)">	
						<div class="caja">	
							<div class="titular">
								La mejor <br>Cobertura
							</div>
							
							<div class="parrafo">
								Vive en paz contigo y tu familia
							</div>
						</div>
														
					</article>
				</div>
				<div class="carousel-item">
					<article style="background-image: url(/vive-beneficios-las-bambas/assets/images/detalle_banner.png)">	
						<div class="caja">	
							<div class="titular">
								La mejor <br>Cobertura
							</div>
							
							<div class="parrafo">
								Vive en paz contigo y tu familia
							</div>
						</div>
														
					</article>
				</div>


			</div>

			<a class="carousel-control-prev" href="#interna_carrousel" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#interna_carrousel" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>                                                                                              

