
.caja_carrousel{
	width:100%;
	padding: 0;
	border-radius:0;
	margin-top:-102px;
	position:relative;
	z-index:2;
	margin-bottom:0;



	.interna_carrousel{
		.carousel-inner{
			.carousel-item{
				article{
					width:100%;
					height:440px;
					padding:0 25px;

					.caja{
						width:100%;
						max-width:200px;
						position:absolute;
						right:20px;
						top:50%;
						transform: translateY(-50%);
						padding-right:30px;

						.titular{
							width:100%;
							color:#213c73;
							text-transform:uppercase;
							text-align:right;
							font-size:26px;
							line-height:28px;
							margin-bottom:12px;
						}

						.parrafo{
							width:100%;
							text-align:right;
							padding-top:0;
							font-size:17px;
							line-height:18px;
							color:#213c73;
						}
					}


				}
			}
		}

		.carousel-control-prev,
		.carousel-control-next{
			transform: translateY(-20px); 
			.carousel-control-prev-icon {
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
			}

			.carousel-control-next-icon {
			 	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
			}
		}

			
	}
}

	