
<div class="container">
	<ul class="menu_footer">
		<li>
			<a href="#" class="full"></a>
			Las Bambas - Tu recibo
		</li>
		<li>
			<a href="#" class="full"></a>
			Términos y Condiciones
		</li>
		<li>
			<a href="#" class="full"></a>
			Preguntas Frecuentes
		</li>
		<li>
			<a href="#" class="full"></a>
			Contáctenos
		</li>
	</ul>

	<div class="txt">
		Descarga el App:
	</div>
	<div class="apps">
		<div class="row">
			<div class="col-6">
				<a href="#" target="_blank"><img src="/vive-beneficios-las-bambas/assets/images/google-play.png"></a>
			</div>
			<div class="col-6">
				<a href="#" target="_blank"><img src="/vive-beneficios-las-bambas/assets/images/app-store.png"></a>
			</div>
		</div>
	</div>
	<div class="logos">
		<a href="#" target="_blank"><img src="/vive-beneficios-las-bambas/assets/images/logo-mmg.png"></a>
			
		<a href="#" target="_blank"><img src="/vive-beneficios-las-bambas/assets/images/logo-lasbambas.png"></a>
	</div>

	<div class="redes">
		<div class="row">
			<div class="col-3">
				<a href="#" target="_blank"><img src="/vive-beneficios-las-bambas/assets/images/ico-world.png"></a>
			</div>
			<div class="col-3">
				<a href="#" target="_blank"><img src="/vive-beneficios-las-bambas/assets/images/ico-face.png"></a>
			</div>
			<div class="col-3">
				<a href="#" target="_blank"><img src="/vive-beneficios-las-bambas/assets/images/ico-linkedin.png"></a>
			</div>
			<div class="col-3">
				<a href="#" target="_blank"><img src="/vive-beneficios-las-bambas/assets/images/ico-youtube.png"></a>
			</div>
		</div>
	</div>
	<div class="copy">
		Copyright 2020. Todos los derechos reservados
	</div>
		
</div>

