$color-texto:#000000;
$color-rojo:#d1103c;



.container{
	padding-top:20px;
	padding-bottom:20px;
	ul.menu_footer{
		margin-bottom:20px;
		li{
			widows: 100%;
			border-bottom: 1px dashed #ffffff;
			position: relative;
			padding:8px 0;
			font-size:12px;
			text-transform:uppercase;
		}
	} 

	.txt{
		font-size:12px;
		margin-bottom:10px;
		text-transform:uppercase;
	}

	.apps{
		margin-bottom:40px;

		img{
			max-width:148px;
			display:block;
			margin:0 auto;
		}
	}

	.logos{
		margin-bottom:40px;
		text-align:center;
		vertical-align:bottom;

		img{
			width:auto;
			display:inline-block;
			margin:0 15px;     
			vertical-align:bottom;
		}
	}

	.redes{
		margin-bottom:40px;
		text-align:center;
		vertical-align:bottom;

		img{
			width:40px;
			display:block;
			margin:0 auto;     
			vertical-align:bottom;
		}
	}

	.copy{
		font-size:12px;
		padding-bottom:20px;
		text-align:center;
		text-transform:uppercase;
	}
}
	