$color-texto:#000000;
$color-rojo:#d1103c;


nav.navbar{
	background-color: transparent;
	padding:0;

	.logo{
		max-width: 169px;
	}

	.lupa{
		width:20px;
		height:20px;
		float:left;
		background-image: url(/vive-beneficios-las-bambas/assets/images/lupa.png);
		cursor:pointer;
		margin-right:20px;
		margin-top:10px;
	}

	.buscador_caja{
		width:100%;
		height:100%;
		background-color: rgba(0, 0, 0, 0.9);
		position:fixed;
		top:0;
		left:0;
		padding:15px;
		z-index:999999;
		display:none;

		.btn_close{
			float:right;
			color:#ffffff;
			font-size:30px;
			margin-right: 16px;
			margin-top: 12px;
			cursor:pointer;

			&:hover{
				text-decoration:none;
			}
		}

		.c{
			width: calc(100% - 40px);
			position:absolute;
			top:50%;
			left:50%;
			transform:translate(-50%, -50%);
			input{
				width:100%;
				height:44px;
				background-color:transparent;
				border:1px solid rgba(255, 255, 255, 0.8);
				border-radius:5px;	
				color:#ffffff;
				font-size:15px;	
				padding:10px 90px 10px 10px;		
			}

			button.buscar{
				width:80px;
				height:100%;
				background-color: transparent;
				color:#ffffff;
				border:0;
				position:absolute;
				top:0;
				right:0;
				font-size:15px;
				cursor:pointer;

				&:before{
					content:'';
					height:80%;
					left:0;
					border-left:1px solid rgba(255, 255, 255, 0.8);
					position:absolute;
					transform: translateY(-50%);
					top:50%;
				}

			}
		}

		&.activado{
			display:block;
			-webkit-animation: menuActive 1s 1; /* Safari 4+ */
			-moz-animation:    menuActive 1s 1; /* Fx 5+ */
			-o-animation:      menuActive 1s 1; /* Opera 12+ */
			animation:         menuActive 1s 1; 
		}

		@-webkit-keyframes menuActive {
		  0%   { opacity: 0; display:none; }
		  1%	{display:block; opacity:0}
		  50%, 100% { opacity: 1; }
		}
		@-moz-keyframes menuActive {
		  0%   { opacity: 0; display:none; }
		  1%	{display:block; opacity:0}
		  50%, 100% { opacity: 1; }
		}
		@-o-keyframes menuActive {
		  0%   { opacity: 0; display:none; }
		  1%	{display:block; opacity:0}
		  50%, 100% { opacity: 1; }
		}
		@keyframes menuActive {
		  0%   { opacity: 0; display:none; }
		  1%	{display:block; opacity:0}
		  50%, 100% { opacity: 1; }
		}

			
	}

	.navbar-toggler{
		width:50px;
		height:40px;
		background-color: transparent;
		margin-right:15px;
		cursor: pointer;
		float:right;

		&:before{
			content:"";
			width:60%;
			height:50%;
			position:absolute;
			top:50%;
			left:50%;
			transform:translate(-50%, -50%);
			border-top:2px solid #ffffff;
			border-bottom:2px solid #ffffff;
		}

		&:after{
			content:"";
			width:60%;
			height:2px;
			position:absolute;
			top:50%;
			left:50%;
			transform:translate(-50%, -50%);
			background-color: #fff;
		}
	}



	#navbarText{
		background-color: #000000;
		position:fixed;
		top:0;
		width:100%;
		height:100%;
		padding-top:15px;
		z-index:222222;
		display:none;

		.btn_close{
			float:right;
			color:#ffffff;
			font-size:30px;
			margin-right: 36px;
			margin-top: 12px;
			cursor:pointer;

			&:hover{
				text-decoration:none;
			}
		}

		.container{
			padding-left:40px;
			padding-right:40px;

			ul.navbar-nav{
				width:100%;
				li{
					width:100%;
					border-bottom:1px dashed #ffffff;
					a{
						width:100%;
						padding:15px 0;
						color:#ffffff;
						display:block;
					}

					&:last-child{
						border-bottom:0;
					}
				}
			}
		}

		&.activado{
			display:block;
			-webkit-animation: menuActive 1s 1; /* Safari 4+ */
			-moz-animation:    menuActive 1s 1; /* Fx 5+ */
			-o-animation:      menuActive 1s 1; /* Opera 12+ */
			animation:         menuActive 1s 1; 
		}

		@-webkit-keyframes menuActive {
		  0%   { opacity: 0; display:none; }
		  1%	{display:block; opacity:0}
		  50%, 100% { opacity: 1; }
		}
		@-moz-keyframes menuActive {
		  0%   { opacity: 0; display:none; }
		  1%	{display:block; opacity:0}
		  50%, 100% { opacity: 1; }
		}
		@-o-keyframes menuActive {
		  0%   { opacity: 0; display:none; }
		  1%	{display:block; opacity:0}
		  50%, 100% { opacity: 1; }
		}
		@keyframes menuActive {
		  0%   { opacity: 0; display:none; }
		  1%	{display:block; opacity:0}
		  50%, 100% { opacity: 1; }
		}

		

			
	}
}

@media (min-width: 769px){
	nav.navbar{
		
	}
}
