
		
	<nav class="navbar navbar-dark">
	    <a class="navbar-brand" href="#">
	    	<img src="/vive-beneficios-las-bambas/assets/images/logo.png" class="logo" alt="Vive Beneficios">
	    </a>
	    <div class="right">
	    	<div (click)="buscadorOpen()" class="lupa"></div>
	    	<div class="navbar-toggler" (click)="menuPrincipalOpen()"></div>
	    </div>
		<div class="buscador_caja" id="buscador-caja">
	    	<div  (click)="buscadorClose()" class="btn_close">X</div>
	    	<div class="c">
	    		<input type="text" placeholder="Escribe lo que quieres buscar">
		    	<button class="buscar" (click)="buscadorClose()">
		    		Buscar
		    	</button>
	    	</div>
	    </div>    
	    
	   
	    <div class="" id="navbarText">

	    	<div  (click)="menuPrincipalClose()" class="btn_close">X</div>

	    	<div class="container">
	    		<ul class="navbar-nav">
		          
				    <li>
						<a [routerLink]="['beneficios-en-salud']" [routerLinkActive]="['active']" (click)="menuPrincipalClose()">
							Beneficios en Salud
						</a>
					</li>
					<li>
						<a [routerLink]="['beneficios-en-seguridad']" [routerLinkActive]="['active']" (click)="menuPrincipalClose()">
							Beneficios en Seguridad
						</a>
					</li>
					<li>
						<a [routerLink]="['beneficios-en-diversion']" [routerLinkActive]="['active']" (click)="menuPrincipalClose()">
							Beneficios en Diversion
						</a>
					</li>
					<li>
						<a [routerLink]="['beneficios-en-bienestar']" [routerLinkActive]="['active']" (click)="menuPrincipalClose()">
							Beneficios en Bienestar
						</a>
					</li>
					<li>
						<a [routerLink]="['beneficios-en-deporte']" [routerLinkActive]="['active']" (click)="menuPrincipalClose()">
							Beneficios en Deporte
						</a>
					</li>
					<li>
						<a [routerLink]="['beneficios-en-soluciones']" [routerLinkActive]="['active']" (click)="menuPrincipalClose()">
							Beneficios en Soluciones
						</a>
					</li>
					<li>
						<a [routerLink]="['beneficios-en-facilidades']" [routerLinkActive]="['active']" (click)="menuPrincipalClose()">
							Beneficios en Facilidades
						</a>
					</li>
					<li>
						<a [routerLink]="['beneficios-en-educacion']" [routerLinkActive]="['active']" (click)="menuPrincipalClose()">
							Beneficios en Educacion
						</a>
					</li>
		        </ul>
	    	</div>
		        
	    </div>
	</nav>
	
	

