

<div class="top-content">
	<div class="container">

		<div class="caja_carrousel">
			<div class="titulo">
				Lo nuevo en las Bambas
			</div>


<carousel [itemsPerSlide]="itemsPerSlide"
			          [singleSlideOffset]="false"
			          [interval]="false"
			          [indicatorsByChunk]="true">
			  <slide *ngFor="let slide of slides; let index=index">
			    <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
			    <div class="carousel-caption">
			      <h4>Slide {{index}}</h4>
			    </div>
			  </slide>
			</carousel>   
		
		</div>


		                                                                             
	</div>
</div>

	
