
.caja_carrousel{
	width:100%;
	padding: 20px 10px 20px;
	background-color: #ebebeb;
	border-radius:10px;
	margin-bottom:30px;

	.titulo{
		width:284px;
		border-radius: 0 6px 6px 6px;
		color:#ffffff;
		text-transform:uppercase;
		text-align:center;
		padding:10px 0;
		background-color: #d0113c;
		margin:-29px auto 40px;
		font-size:16px;
		position:relative; 

		&:before{
			content:'';
			display: inline-block;
		    width: 0;
		    height: 0;
		    border-style: solid;
		    border-width: 0 0 10px 10px;
		    border-color: transparent transparent #8b1110 transparent;
		    position:absolute;
		    top:0;
		    right:100%;
		}
	}

	#lonuevoCarousel{
		.carousel-inner{
			.carousel-item{
				article{
					width:100%;
					padding:0 25px;

					.foto{
						width:163px;
						margin:0 auto;
					}

					.nombre{
						width:100%;
						text-align:center;
						padding-top:34px;
						font-size:16px;
						color:#666666;
					}
				}
			}
		}

		.carousel-control-prev,
		.carousel-control-next{
			transform: translateY(-20px); 
			.carousel-control-prev-icon {
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
			}

			.carousel-control-next-icon {
			 	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
			}
		}

			
	}

	.carousel-item{
	    position: relative;
	    display: none;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    width: 100%;
	    transition: -webkit-transform .6s ease;
	    transition: transform .6s ease;
	    transition: transform .6s ease,-webkit-transform .6s ease;
	    -webkit-backface-visibility: hidden;
	    backface-visibility: hidden;
	    -webkit-perspective: 1000px;
	    perspective: 1000px;    
	    float:none;
	    margin-right:0;  

	    &.active{
	    	display:block;
	    }                                                                                                  
	}
}

