.banner_interna{
	height:380px;
	background-position: bottom center;
	background-size: cover;
	position:relative;
	overflow: hidden;
	z-index:2;

	@media (min-width: 420px){
		background-position: center;
	}

	.sombra{
	    content: "";
	    display: block;
	    background-color: rgba(0,0,0,1);
		background: rgba(0,0,0,1);
		background: -moz-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.7)), color-stop(100%, rgba(0,0,0,0)));
		background: -webkit-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
		background: -o-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
		background: -ms-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
		background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
	    width: 100%;
	    height:130px;
	    position: absolute;
	    z-index: 1;
	    top:0;
	    left: 0;
	    opacity:0.7;
	} 

	&:before {
	    content: "";
	    display: block;
	    background-color: #dedede;
	    height: 300px;
	    width: 8000px;
	    position: absolute;
	    z-index: 1;
	    bottom: -61%;
	    left: 50%;
	    margin-left: -4000px;
	    -webkit-transform: rotate(8deg);
	    transform: rotate(8deg);
	}  

	&:after {
	    content: "";
	    display: block;
	    background: white;
	    height: 300px;
	    width: 8000px;
	    position: absolute;
	    z-index: 1;
	    bottom: -69%;
	    left: 50%;
	    margin-left: -4000px;
	    -webkit-transform: rotate(6deg);
	    transform: rotate(6deg);
	    z-index:3;
	}                                                                                                                                                                              
}


.contenedor_interno_principal{
	z-index:4;
	.icono{
		width:131px;
		position: absolute;
		top:-100px;
		right:25px;

		img{
			position:relative;
			z-index:2;
		}

		&:after{
			content:'';
			width: 73%;
			height:73%;
			background-color: rgba(0, 0, 0, 0.2);
			border-radius:50%;
			position: absolute;
			top:20px;
			left:20px;
			z-index:1;
		}
	}

	h1{
		text-transform:uppercase;
		font-size:17px;
		color:#213B73;
		margin-bottom:35px;
	}

	ul.lista_de_beneficios{
		width:100%;

		li{
			background-color: #e8e8ea;
			border-radius:12px;
			margin-bottom:25px;
			position:relative;
			text-transform:uppercase;
			font-size:14px;
			color:#213B73;
			padding:21px 20px;
			-webkit-box-shadow: 3px 9px 5px -8px rgba(0,0,0,0.47);
			-moz-box-shadow: 3px 9px 5px -8px rgba(0,0,0,0.47);
			box-shadow: 3px 9px 5px -8px rgba(0,0,0,0.47);

			&:before{
				content:'';
				width:25px;
				height:26px;
				background-image: url(/assets/images/cruz.png);
				position:absolute;
				bottom:7px;
				right:15px;
			}
		}

		li.new{
			&:after{
				content:'NUEVO';
				width:37px;
				height:37px;
				background-color: #d31e47;
				position:absolute;
				top:-9px;
				right:-7px;
				z-index:3;
				font-size:8px;
				text-align:center;
				color:#ffffff;
				padding-top:12px;
				border-radius:50%;
				text-transform:uppercase;
				-webkit-box-shadow: 0px 4px 1px -1px rgba(0,0,0,0.17);
				-moz-box-shadow: 0px 4px 1px -1px rgba(0,0,0,0.17);
				box-shadow: 0px 4px 1px -1px rgba(0,0,0,0.17);
			}

		}
	}
}
