/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'ChevinLight';
  src: url("fonts/chevin/ChevinLight.eot");
  /* IE9 Compat Modes */
  src: url("fonts/chevin/ChevinLight.eot?#iefix") format("embedded-opentype"), url("fonts/chevin/ChevinLight.woff") format("woff"), url("fonts/chevin/ChevinLight.ttf") format("truetype"), url("fonts/chevin/ChevinLight.svg#6a5e3fc0275a2c364206f565d19c963f") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: 'ChevinMedium';
  src: url("fonts/chevin/ChevinMedium.eot");
  /* IE9 Compat Modes */
  src: url("fonts/chevin/ChevinMedium.eot?#iefix") format("embedded-opentype"), url("fonts/chevin/ChevinMedium.woff") format("woff"), url("fonts/chevin/ChevinMedium.ttf") format("truetype"), url("fonts/chevin/ChevinMedium.svg#a59284c398c0572d324928033a659c9c") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'ChevinDemiBold';
  src: url("fonts/chevin/ChevinDemiBold.eot");
  /* IE9 Compat Modes */
  src: url("fonts/chevin/ChevinDemiBold.eot?#iefix") format("embedded-opentype"), url("fonts/chevin/ChevinDemiBold.woff") format("woff"), url("fonts/chevin/ChevinDemiBold.ttf") format("truetype"), url("fonts/chevin/ChevinDemiBold.svg#003b179bb4067e81f3dd7e275143797f") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700;
}

$color-texto:#000000;
$color-rojo:#d1103c;


@mixin scale($scale) {
	-ms-transform: scale($scale); /* IE 9 */
	-webkit-transform: scale($scale); /* Chrome, Safari, Opera */
	transform: scale($scale);
}    

html, body{
	width: 100%;
	height: 100%;
	overflow-x:hidden;
}

body{ 
	width: 100%;
	margin:0;
	padding:0;	
	min-height: 100%;	
	overflow: visible;
	/*height: auto;*/
	min-height: 100%;
	background-color: #ffffff;
	font-family: "ChevinMedium", Arial Narrow, Arial;

	
}

body.nonescroll{
	height: 100%;
	overflow: hidden;
}

#loader{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
	z-index: 999999;
} 

* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}

ul{

	list-style: none;
	margin: 0;
	padding: 0;
}

/**{
	@include transition(all 0.3s ease-out);
}*/

img{
	width: 100%;
	max-width:100%;
	height:auto;
	border:none;
	display: block;
}

h1,h2,h3, p{ 
	margin: 0; 
	padding: 0;
	font-size: inherit;
	line-height:inherit;
	font-weight: inherit;	
}

.clear{
	clear: both;
}


header, aside, nav, section, article{
	display: block;
	position: relative;
}

li, div{
	position: relative;
}

a.full{
	width: 100%;
	height: 100%;
	background: url(../images/bg-a.png);
	position: absolute;
	top: 0;
	left: 0;
	z-index:1000;
} 

a{
	text-decoration: none;

	
}

table{
	border:0;
	width:100%;
	border-collapse:collapse;
	margin-top:10px;
}

span.bolder{
	font-weight: bold;
}



/* Generales */




.wrapper{
	width:100%;
	font-family: "ChevinMedium", Arial Narrow, Arial;

	header{
		width:100%;
		position:absolute;
		top:0;
		left:0;
		z-index: 2000;
	}

	section{
		min-height:200px;
		background-color: #f2f2f2;
	}

	footer{
		background-color: $color-rojo;
		color:#ffffff;
	}
}

@import "internas";

