

.logo{
	padding-top:10px;
	padding-bottom:10px;
	img{
		width:auto;
		margin:0 auto;
	}
}

app-cajaazul{
	position:relative;
	z-index:4;
}

.titulo_gris{
	width:100%;
	background-color: #f2eeed;
	text-align: center;
	color:#213c73;
	font-size:18px;
	padding: 20px;
	margin-bottom:30px;
}



.container{

	padding-top:0px !important;
	padding-bottom:0px !important;

	.caja_gris{
		width: 100%;
		background-color: #f2eeed;
		height:auto;
		margin: 0 auto;
		border-radius:16px;
		padding:40px 15px;
		color:#ffffff;
		margin-bottom:40px;

		.tit{
			text-transform:uppercase;
			text-align:center;
			font-size:18px;
			color:#213c73;
		}

		.txt{
			width:100%;
			font-size:14px;
			line-height:19px;
			color:#767676;
			text-align:center;
			text-transform:none;
		}
	}
}