<app-cabecera></app-cabecera>


<div class="logo">
	<img src="/vive-beneficios-las-bambas/assets/images/logo-pacifico.png" >
</div>

<app-cajaazul></app-cajaazul>

<app-carrousel></app-carrousel>

<div class="titulo_gris">
	Descricipción
</div>

<div class="container">
	<app-rango></app-rango>

	<div class="caja_gris">
		<div class="tit">
			Consideraciones Especiales
		</div>
		<div class="txt">
			Puedes solicitar los documentos al equipo de Recursos Humanos.
		</div>
	</div>
</div>



	

