

<div class="banner_interna" style="background-image: url(/vive-beneficios-las-bambas/assets/images/banner_interna.png)">
	<div class="sombra"></div>	
</div>
<div class="container contenedor_interno_principal">
	<div class="icono">
		<img src="/vive-beneficios-las-bambas/assets/images/home-item-1.png" >
	</div>
	<h1>
		Beneficios en Salud
	</h1>

	<ul class="lista_de_beneficios">

		<li *ngFor="let listaBeneficio of itemBeneficios" [ngClass]="listaBeneficio.nuevo == true ? 'new' : 'old'">
			<a [routerLink]="['/programa', listaBeneficio.categoria, listaBeneficio.id]" class="full"></a>
			<div class="titulo">
				{{listaBeneficio.titulo}}
			</div>
		</li>
	</ul>
</div>