<div class="cabecera">
	<div class="btn_back">
		<a [routerLink]="['/beneficios-en-salud']" class="full"></a>
	</div>
	<h2>
		Beneficios <br>
		 de Salud
	</h2>
	<div class="icono">
		<a [routerLink]="['/beneficios-en-salud']" ><img src="/vive-beneficios-las-bambas/assets/images/home-item-1.png" ></a>
	</div>
</div>