.cabecera{
	width:100%;
	height:96px;
	background-color: #dedede;
	display:table;
	position:relative;
	z-index:4;


	.btn_back{
		width:48px;
		border-right:1px solid #b6b6b6;
		display:table-cell;
		position:relative;
		background-image: url(/vive-beneficios-las-bambas/assets/images/flecha-left.png);
		background-repeat: no-repeat;
		background-position: center;
	}

	h2{
		display:table-cell;
		color:#213B73;
		text-transform:uppercase;
		font-size:14px;
		line-height:18px;
		padding-left:24px;
		padding-right:15px;
		vertical-align:middle;
	}

	.icono{
		width:96px;
		display:table-cell;


	}
}