
	<div class="caja_azul">
		<h1>
			Seguro Oncológia Pacifico
		</h1>
		<div class="caja_estrellas">
			<img src="/vive-beneficios-las-bambas/assets/images/estrella-blanca.png" >
			<img src="/vive-beneficios-las-bambas/assets/images/estrella-blanca.png" >
			<img src="/vive-beneficios-las-bambas/assets/images/estrella-blanca.png" >
			<img src="/vive-beneficios-las-bambas/assets/images/estrella-gris.png" >
			<img src="/vive-beneficios-las-bambas/assets/images/estrella-gris.png" >
		</div>
		<div class="texto">
			Contamos con un seguro oncológico optativo para los trabajadores de Las Bambas y sus familiares directos con las mejores tarifas negociadas con Paciﬁco
		</div>
	</div>
