.caja_azul{
	width: calc(100% - 44px);
	background-color: #213c73;
	height:auto;
	margin: 0 auto;
	border-radius:16px;
	padding:30px 15px;
	color:#ffffff;
	z-index:10;

	h1{
		text-transform:uppercase;
		text-align:center;
		font-size:18px;
	}

	.caja_estrellas{
		width:100%;
		text-align:center;
		margin-bottom:20px;

		img{
			width: 17px;
			margin:0 5px;
			display:inline-block;
		}
	}

	.texto{
		width:100%;
		font-size:14px;
		color:#ffffff;
		text-align:center;
	}
}