
	

	<div class="caja_lista_rangos">
		<div class="rango_tit">
			Rango Etario
		</div>
		<div class="costo_tit">
			Costo Mensual <br>por Asegurado
		</div>
		<table cellpadding="0" cellspacing="0" border="0">
			<tr>
				<td>
					De 0 a 25 años
				</td>
				<td>
					
				</td>
				<td>
					S/. 3.36
				</td>
			</tr>
			<tr>
				<td>
					De 0 a 25 años
				</td>
				<td>
					
				</td>
				<td>
					S/. 3.36
				</td>
			</tr>
			<tr>
				<td>
					De 0 a 25 años
				</td>
				<td>
					
				</td>
				<td>
					S/. 3.36
				</td>
			</tr>
			<tr>
				<td>
					De 0 a 25 años
				</td>
				<td>
					
				</td>
				<td>
					S/. 3.36
				</td>
			</tr>
			<tr>
				<td>
					De 0 a 25 años
				</td>
				<td>
					
				</td>
				<td>
					S/. 3.36
				</td>
			</tr>
			<tr>
				<td>
					De 0 a 25 años
				</td>
				<td>
					
				</td>
				<td>
					S/. 3.36
				</td>
			</tr>
			<tr>
				<td>
					De 0 a 25 años
				</td>
				<td>
					
				</td>
				<td>
					S/. 3.36
				</td>
			</tr>
			<tr>
				<td>
					De 0 a 25 años
				</td>
				<td>
					
				</td>
				<td>
					S/. 3.36
				</td>
			</tr>
		</table>
	</div>

	
