

.caja_lista_rangos{
	margin-bottom:50px;


	.rango_tit{
		display:inline-block;
		width:50%;
		text-align:left;
		font-size:12px;
		color:#213B73;
		text-transform:uppercase;
		vertical-align:middle;
	}

	.costo_tit{
		display:inline-block;
		width:50%;
		text-align:right;
		font-size:12px;
		color:#213B73;
		text-transform:uppercase;
		vertical-align:middle;
	}

	table{
		width:100%;

		tr{
			td{
				padding: 20px 0 0;
				font-size:16px;
				color:#707070;
				line-height:13px;

				&:first-child{
					width:125px;
				}

				&:nth-child(2){
					border-bottom:1px dashed #a5a5a5;
				}

				&:last-child{
					width:80px;
					text-align:right;
				}
			}
		}
	}
}