$color-texto:#000000;
$color-rojo:#d1103c;

.banner{
	
	background-image: url(/vive-beneficios-las-bambas/assets/images/foto-principal-home2-movil.png);
	background-position: bottom center;
	background-size: cover;
	position:relative;
	overflow: hidden;

	.container{
		height:620px;
	}

	@media (min-width: 420px){
		background-image: url(/vive-beneficios-las-bambas/assets/images/foto-principal-home.png);
		background-position: center;
	}

	&:before {
	    content: "";
	    display: block;
	    background-color: #d0d0d0;
	    height: 300px;
	    width: 8000px;
	    position: absolute;
	    z-index: 1;
	    bottom: -37%;
	    left: 50%;
	    margin-left: -4000px;
	    -webkit-transform: rotate(11deg);
	    transform: rotate(11deg);
	}  

	&:after {
	    content: "";
	    display: block;
	    background: white;
	    height: 300px;
	    width: 8000px;
	    position: absolute;
	    z-index: 1;
	    bottom: -40%;
	    left: 50%;
	    margin-left: -4000px;
	    -webkit-transform: rotate(8deg);
	    transform: rotate(8deg);
	    z-index:3;
	}    

	.recuadro_red{
		width:80%;
		max-width:304px;
		position:absolute;
		bottom:0;
		left:50%;
		transform:translateX(-50%);
		background-color: $color-rojo;
		color:#ffffff;
		padding: 20px 20px 120px;
		border-radius:20px 20px 0 0;

		.tit{
			text-transform: uppercase;
			color:#ffffff;
			font-size:16px;
			padding-bottom:8px;
			border-bottom:1px solid #ffffff;
			margin-bottom:8px;
		}

		h1{
			text-transform: uppercase;
			font-size:22px;
			line-height:24px;
			color:#ffffff;
		}
	}                                                                                                                                                                               

}

@media (min-width: 769px){
	.banner{
		background-image: url(/vive-beneficios-las-bambas/assets/images/desk-home-banner.jpg);

		.container{
			position:relative;

			.recuadro_red{
				position:absolute;
				bottom:0;
				left:20px;
				transform:translateX(0);
				padding-bottom:200px;
			}
		}

		&:after{
			display:none;
		}
		&:before{
			content: "";
		    display: block;
		    background-image: url(/vive-beneficios-las-bambas/assets/images/solapa.png);
		    background-color: transparent;
		    background-position: center;
		    height: 238px;
		    width: 100%;
		    position: absolute;
		    z-index: 1;
		    bottom: 0;
		    left: 0;
		    transform: rotate(0);
		    margin-left: 0;
		    -webkit-transform: rotate(0);
		    
		    z-index:3;
		}



			
	}
}

